.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    background: #4e3a55;
    width: 100vw;
    padding: 1rem 5%;
}

.container > * {
    flex: 1;
    margin: 0.25rem 0.5rem 1rem 0.5rem;
    background: hsl(284deg 30% 90%);
    border-color: white;
    border: solid 4px hsl(284deg 30% 90%);
    border-right: solid 10px hsl(284deg 30% 90%);
    padding-right: 0px;
}

.container > select {
    font-family: Poppins;
}

.container option {
    font-size: 1rem;
    font-family: Poppins;
}