.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem auto;
}

.container > select {
    margin: auto 0.5rem;
    font-family: Poppins;
}

.container option {
    font-size: 1rem;
    font-family: Poppins;
}