.blogPostContainer {
    margin: 8rem auto auto auto;
    width: 80%;
}

.articleHeader {
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
}

.authorImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
    margin: 0rem 1rem;
}

.articleInfo {
    width: 60%;
}

.articleDetails {
    display: flex;
    justify-content: flex-start;
}

.articleInfo span {
    margin-right: 0.25rem;
}

.articleInfo span:not(:first-child):before {
    content: ' - ';
    display: inline;
    margin-right: 0.25rem;
}

.postTitle {
    font-size: 3rem;
}