.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background: #4e3a55;
  flex-direction: column;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.smallDisclaimer {
  font-size: 10px;
  width: 90vw;
  color: rgb(25, 6, 34);
  color: rgba(255, 255, 255, 0.5);
}

.copyright {
  color: white;
}
