.blogPostContainer {
    margin: 8rem auto auto auto;
    width: 70%;
}

.articleHeader {
    margin: auto;
    width: 80%;
    max-width: 900px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0rem 0px;
    height: 100px;
}

.authorImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorImage img {
    text-align: center;
    z-index: 1;
    object-fit: fill;
    border-radius: 50%;
}

.articleInfo {
    width: 60%;
    margin-left: 1rem;
}

.articleDetails {
    display: flex;
    justify-content: flex-start;
}

.articleInfo span {
    margin-right: 0.25rem;
}

.articleInfo span:not(:first-child):before {
    content: ' - ';
    display: inline;
    margin-right: 0.25rem;
}

.postTitle {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.postTagline {
    font-size: 2rem;
    font-style: italic;
    font-family: 'Lora', serif;
    margin-bottom: 3rem;
    font-weight: 400;
}

.article {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: 5rem;
}

.article p {
    margin-bottom: 4rem;
}

.heroImageContainer {
    margin: auto;
    width: 70%;
}

.heroImage {
    width: 100% !important;
    height: auto !important;
}

.sharingLinks {
    height: 100%;
    display: flex;
    padding: 0.65rem 0px;
    margin-left: auto;
    margin-right: 2rem;
}
.sharingLinks a {
    margin-right: 1.5rem;
    line-height: 40px;
    vertical-align: baseline;
}

.sharingLinks span {
    vertical-align: sub;
}

.sharingLinks a:hover {
    fill: red;
}

@media (max-width: 800px){
    .blogPostContainer{
        width: 90%
    }

    .postTitle {
        font-size: 2.75rem;
    }

    .postTagline {
        font-size: 1.5rem;
    }

    .articleHeader{
        position: relative;
    }

    .sharingLinks{
        position: absolute;
        top: -6px;
        right: -80px;
    }

    .articleDetails {
        flex-direction: column;
    }

    .articleInfo span:not(:first-child):before {
        content: "";
    }
}